.goodlist{
    padding: 30px 30px 30px 300px;
    .avatar-uploader.ant-upload-picture-card-wrapper{
        padding-left:180px;
    }
    .ant-btn{
        margin-left: 130px;
        width: 200px;
    }
}